.card-container{
  width: auto;
  border: solid 1px #d3d3d3;
  margin: 5px auto;
  box-shadow: 0px 0px 13px -4px rgb(187, 188, 189);
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgb(245, 249, 249);
  cursor: pointer;
  text-align: center;
  padding-bottom: 5px;

}

.front{
  height: 50px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  padding-top: 5px;
  width: 200px;
}

.back{
  height: 50px;
  padding-top: 5px;
  width: 200px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}