.card-container{
  width: auto;
  height: auto;
  border: solid 1px #f4f5b9;
  margin: 5px auto;
  box-shadow: 0px 0px 13px -4px rgb(171, 162, 121);
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgb(250, 240, 184);
  cursor: pointer;
  text-align: center;
  padding-bottom: 5px;

}

.front{
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  padding-top: 5px;
  width: 200px;
}

.back{
  padding-top: 5px;
  width: 200px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px
}

.bar {
  margin-top: 30px;
  border-radius: 5px;
  border: solid 2px #d3d3d3;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
  height: 20px;
  font-size: 15px;
}